---
interface Props {
  icon: ImageMetadata;
  name: string;
  clazz?: string;
}

const { icon, name, clazz = "" } = Astro.props;
---

<div class:list={["flex flex-col items-center text-center", clazz]}>
  <img
    class="h-11 w-11 object-scale-down"
    src={icon.src}
    alt={name}
    width="44"
    height="44"
  />
  <span class="mt-1 text-sm">{name}</span>
</div>
