---
import LinkedinIcon from "../assets/images/icons/linkedin.svg";
import GithubIcon from "../assets/images/icons/github.svg";
import EmailIcon from "../assets/images/icons/email.svg";

const links = [
  {
    name: "linkedin",
    icon: LinkedinIcon,
    label: "linkedin.com/in/a4vg",
    link: "https://linkedin.com/in/a4vg",
  },
  {
    name: "github",
    icon: GithubIcon,
    label: "@a4vg",
    link: "https://github.com/a4vg",
  },
  {
    name: "email",
    icon: EmailIcon,
    label: "andreav@duck.com",
    link: "mailto:andreav@duck.com",
  },
];

const { class: clazz } = Astro.props;
---

<div
  class:list={[
    "inline-flex justify-center gap-11 rounded border-2 border-dotted border-main-red px-5 py-3 text-sm text-black",
    clazz || "",
  ]}
>
  {
    links.map(l => (
      <a
        class="flex items-center gap-2 transition-opacity hover:opacity-70"
        href={l.link}
      >
        <img src={l.icon.src} alt={l.name} />
        {l.label}
      </a>
    ))
  }
</div>
