---
import { Image } from "astro:assets";
import socialLinks from "../data/socialLinks";
const { class: clazz } = Astro.props;
---

<div
  class:list={[
    "inline-flex flex-col justify-center gap-5 rounded border-2 border-dotted border-main-red px-5 py-3 text-sm text-black xs:flex-row xs:gap-11",
    clazz || "",
  ]}
>
  {
    socialLinks.map((l) => (
      <a
        class="flex items-center gap-2 transition-opacity hover:opacity-70"
        href={l.link}
      >
        <Image src={l.icon} alt={l.name} />
        {l.label}
      </a>
    ))
  }
</div>
