---
import { Image } from "astro:assets";
import UTECPhoto from "../assets/images/utec.jpg";
import LightBulbIcon from "../assets/images/icons/light_bulb.png";
import DuckInPlane from "../assets/images/duck-in-plane.png";
---

<section class="relative">
  <span class="absolute right-0 top-[-40px] inline-block w-[70%]">
    <img
      src={DuckInPlane.src}
      class="h-14 rotate-180"
      id="duck-in-plane"
      alt="duck-in-plane"
    />
  </span>

  <div class="relative max-w-screen-2xl px-8 pt-8 2xl:mx-auto">
    <h2 class="mb-3 text-3xl font-bold text-main-red">Education</h2>

    <div class="flex flex-wrap gap-5 md:items-center">
      <div class="w-64">
        <figure>
          <Image class="rounded-md" src={UTECPhoto} alt="utec" />
          <figcaption class="text-small mt-2 italic">
            University Campus UTEC Lima
          </figcaption>
        </figure>
      </div>

      <div class="mb-6">
        <p>
          I have a <span class="font-bold">Bachelor's in Computer Science</span>
        </p>
        <p>
          From the
          <a href="https://utec.edu.pe/" target="_blank">
            University of Engineering and Technology (UTEC)
          </a>
        </p>
        <p>🇵🇪 Lima, Peru</p>
        <p>2017 - 2022</p>
      </div>

      <!-- Fun fact -->
      <div class="mx-auto min-h-56 w-1/6 min-w-56">
        <div
          class="border-color aspect-square rounded-full border-4 border-[#9C101E] p-4 pt-[15%] text-center 2xl:pt-[20%]"
        >
          <p
            class="-ml-2 mb-2 flex items-center justify-center font-bold text-main-red"
          >
            <img src={LightBulbIcon.src} alt="light-bulb" class="mr-2 h-6" /> Fun
            Fact
          </p>
          <p>
            The architects that designed my university campus
            <a
              href="https://www.pritzkerprize.com/laureates/2020#laureate-page-2191"
              target="_blank"
            >
              won the Pritzker Prize
            </a> (the “Nobel Prize of Architecture”).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes fly {
    80% {
      opacity: 1;
    }
    100% {
      offset-distance: 100%;
      opacity: 0;
    }
  }
  #duck-in-plane {
    offset-path: path(
      "M1065.5 43C961 31 841.778 132.285 767.508 116.644C654.789 92.9054 708 39.2151 561 64C429.064 86.2451 416 60.5 284 53C239.714 47.0239 130.5 95.5 1 -2"
    );

    animation: fly linear both;
    animation-timeline: view();
    animation-range: 10% 90%;
  }
</style>
