<footer class="py-4 text-center text-sm text-gray-600">
  © <span id="footer-year">{new Date().getFullYear()}</span> Andrea Velásquez Gushiken.
  All rights reserved.
</footer>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>
