---
import WaveShape from "../assets/shapes/wave.svg?raw";
---

<div class="absolute -ml-[15%] w-[115%] -translate-y-full text-main-white">
  <Fragment set:html={WaveShape} />
</div>
<section>
  <div class="relative max-w-screen-2xl px-8 pb-8 2xl:mx-auto">
    <h2 class="mb-3 mt-6 text-3xl font-bold text-main-red">Skills</h2>
    <p class="text-lg">
      A non-exhaustive list of the tools I've learned along the way. It keeps
      growing!
    </p>
  </div>
</section>
